<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
</head>
<body>
    <h1>Admin Dashboard</h1>
    <ul>
        <li><a href="/admin/blogs/create">Create New Blog</a></li>
        <li><a href="/admin/beer/create">Create New Beer</a></li>
        <!-- Add more options as needed -->
    </ul>
</body>
</html>
